body{
  background:url("https://i.pinimg.com/originals/71/92/5c/71925c75936297af1e041e98cebfdfe6.jpg");
   
}
.title{

    display:"block";
    text-align: center;
    color: darkblue;
    text-shadow:5px 5px 10px #a9c5a9;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}
.titleborder{
  background: whitesmoke;  
}

@keyframes blink{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes shrink{
  from {
    font-size: large;
  }
  to {
    font-size: x-large;
  }
}
@media only screen and (max-width: 727px) {
  .capturedimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
   margin-bottom: 2%;
  }
}